.text-section {
    padding: 10% 20%;
    background-color: rgb(226, 205, 109);
}

.text-section-quote {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-style: italic;
}

.q-line-one {
    transform: 2s;
    cursor: pointer;
    transition: 2s;
}
.q-line-one:hover {
    transform: translateX(-40px);
}
.q-line-two {
    transform: 2s;
    cursor: pointer;
    transition: 2s;

}
.q-line-two:hover {
    transform: translateX(40px);
}

.line-two-container {
    padding-left: 25%;
}

/* .icon-container {
    width: 100px;
    height: 100px;
    /* background-color: #0CB1C4; */
    /* transform-origin: center;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    } */
/* }  */