.text-section {
    padding: 10% 20%;
    background-image: linear-gradient(to right, #FCCF31, #F55555);

}


.text-section-quote {
    font-size: 22px;
    font-weight: 800;
    /* letter-spacing: 0.1rem; */
    font-style: bold;
    font-family: 'Comfortaa', cursive;
}

.q-line-one {
    transform: 2s;
    cursor: pointer;
    transition: 2s;
}
.q-line-one:hover {
    transform: translateX(-40px);
}
.q-line-two {
    transform: 2s;
    cursor: pointer;
    transition: 2s;

}
.q-line-two:hover {
    transform: translateX(40px);
}

.line-two-container {
    padding-left: 35%;
}
